html, body {
    height: 100%;
}

body {
    padding-top: 40px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
    font-size: 13pt;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro > h1 {
    font-size: 6vmin;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
    font-size: 150%;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
    font-weight: bold;
}

/*navigation bar*/

  /* Colour of navigation bar */
.navbar-default {
    background-color: #efffff;
}

  /* Colour of button at small pages */
.navbar-default .navbar-toggle {
    background-color: #e7ffff;
}

  /* Colour of button with focus */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #d7ffff;
}

.navbar-brand,
.navbar-nav {
    font-size: 125%;
}

.navbar-icon {
    display: inline-block !important;
}

/*site title*/
.site-title {
    font-family: var(--titleFont);
    color: var(--titleColor);
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}

/* Sharing */

#sharing a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  margin-left: 2px;
}

#sharing a.facebook {
  background: #4361b3;
}

#sharing a.twitter {
  background: #4fafed;
}