html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    text-align: center;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    flex: 1 0 auto
}

main {
    padding: 25px;
    min-width: 300px;
    max-width: 750px;
    font-size: 13pt;
}

/* Contents sidebar */
#sidebar-wrapper {
    max-width: 250px;
}

#sidebar {
    position: fixed;
    top: 40px;
}

.nav-stacked>li>a {
    padding: 5px;
    text-align: left;
}

/* Footer */

.copyright {
    flex: 0 0 auto;
    text-align: center;
}

.toc-h1 {font-size: 22px;}
.toc-h2 {font-size: 18px;}

/*home page*/

.intro > h1 {
    font-size: calc(3vmin + 32px);
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
    font-size: 150%;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
    font-weight: bold;
}

/*navigation bar*/

  /* Colour of navigation bar */
.navbar-default {
    background-color: #efffff;
}

  /* Colour of button at small pages */
.navbar-default .navbar-toggle {
    background-color: #e7ffff;
}

  /* Colour of button with focus */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #d7ffff;
}

.navbar-brand,
.navbar-nav {
    font-size: 125%;
}

.navbar-icon {
    display: inline-block !important;
}

/*site title*/
.site-title {
    font-family: "MathJax_AMS";
    color: #000000;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}

/* After content */

.after-content {
    display: table;
    width: 100%;
}

.after-content-cell {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
}

.after-content-sharing a {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    padding: 6px 10px;
    border-radius: 10px;
}

#twitter-cell {text-align: right;}
#twitter-cell a {background: #4fafed; margin-right: 5px;}

#facebook-cell {text-align: left;}
#facebook-cell a {background: #4361b3; margin-left: 5px;}

#jump-to-top {
    font-size: 36px;
    text-align: right;
    color: var(--accent);
}

/* Highlight.js style*/

pre {
    background-color: #ffffff;
    border-color: #000000;
    border-width: 1px;
}

.hljs-comment {
    color: #404080;
    font-style: normal;
}

.hljs-fun-param {
    color: #ff4000;
}

.hljs-pipe, .hljs-assign {
    font-weight: bold;
}

/* Fixes for fixed navbar */

.contents h1, .contents h2, .contents h3, .contents h4 {
    padding-top: 55px;
    margin-top: -55px;
}

/* Static header placement on mobile devices */
  
@media (max-height: 740px) {
  .navbar-fixed-top {
      position: absolute;
  }
  .contents h1, .contents h2, .contents h3, .contents h4 {
      padding-top: 0px;
      margin-top: 0px;
  }
}